---
# For documentation on available options, see:
#
#   http://docs.fort/clang-3.6/ClangFormatStyleOptions.html
#
BasedOnStyle: Mozilla
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
...
