-- Database "bugle server" details
host = "core.fort"
database = "bugle"

-- User details

-- the subversion user should always exist
-- as it's created by the django migrations
username = "subversion"
page_size = 42
